*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    max-width: 500px;
    margin: 0 auto;
}

.login-container {
    background-color: #212325;
    border-radius: 0.5rem;
    padding: 3rem;
    width: 100%;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);

}


.form-group:last-of-type {
    margin-bottom: 1.5rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;

}

.forgot-password {
    color: #9ca3af;
    font-size: 0.75rem;
    margin-left: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #111827;
    color: white;
    border-radius: 0.375rem;
    font-size: 1rem;
    transition: border-color 0.2s ease;
}

input::placeholder {
    color: #6b7280;
}

input:focus {
    outline: none;
    border-color: #4ade80;
}

.btn-login {
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: #10b981;
    color: white;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-login:hover {
    background-color: #4ade80;
}

.signup-text {
    text-align: center;
    color: #9ca3af;
    font-size: 0.875rem;
    margin-top: 1.5rem;
}

.signup-text a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.signup-text a:hover {
    color: #4ade80;
}

a{
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

a:hover{
    color: #4ade80;
}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
        padding: 2rem;
    }
    
}