/* --- Layout Principal e Reset --- */
.dash-content {
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
    background: #0d0d0c; 
    color: #e5e7eb; 
    max-width: calc( 100% - 240px );
    margin-left: 240px; 
    font-family: Inter, system-ui, sans-serif;
    padding: 32px; 
    justify-content: flex-start;
    overflow-x: hidden; 
}

.icon-dashboard{
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.icon-feature{
    width: 50px;
    font-size: 40px;
}

.medal-icon{
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-right: 4px;
}

.cards { 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column;
    gap: 16px; 
    width: 100%; 
}

.balance-card{
    padding: 40px;
}

.balance-card, 
.level-card, 
.feature, 
.projection,
.daily-balance-card,
.ai-feature-card { 
    background: #0f1411; 
    border: 1px solid rgba(255,255,255,0.06); 
    border-radius: 12px; 
}

.daily-balance-card, .ai-feature-card {
    padding: 20px; 
}


.box-feature{
    display: flex;
    align-items: center;
    gap: 10px;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.f-btn{
    background: #10B981;
    color: #0d0d0c;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    margin-top: auto;
}

.green { 
    color: #10B981; 
    font-weight: 700; 
}

.yellow{
    color: #fbff00;
    font-weight: 7000;
}

.sub-text{
    font-size: 0.6rem;
    color: #9ca3af;
    text-align: left;
}

.balance-card .row { 
    display: flex; 
    align-items: center; 
    gap: 30px; 
}
.dot { 
    min-width: 12px; 
    height: 12px; 
    border-radius: 50%; 
    background: #22c55e; 
}
.metric .label { 
    font-size: 11px; 
    color: #9ca3af; 
}

.metric .value { 
    font-weight: 700; 
    font-size: 18px; 
}

.spacer {
    flex-grow: 1; 
}

.cta { 
    display: flex;
    align-items: center;
    background: #10B981; 
    color: #0d0d0c; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-weight: 600;
    cursor: pointer; 
    white-space: nowrap; 
}
.hint { 
    font-size: 10px; 
    color: #9ca3af; 
    margin-top: 6px; 
    text-align: right; 
}

.level-card{
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: center;
    gap: 20px;
}

.box-level{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.link{
    background: transparent;
    border: none;
    color: #86efac;
    border-radius: 9999px;
    padding: 8px 12px;
    cursor: pointer;
}

.level-card .title { 
    font-weight: 600;
    display: flex; 
}

strong{
    display: flex;
    align-items: center; 
    margin-left: 1rem; 
}

.level-card .subtitle { 
    font-size: 12px; 
    color: #9ca3af; 
    margin-top: 4px; 
}
.level-card .link { 
    margin-top: 8px; 
    background: transparent; 
    color: #ffffff; 
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-decoration: none; 
    cursor: pointer; 
}

.level-card .link:hover{
    border: 1px solid #86efac;
    color: #86efac;
}

.features { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px; 
}
.feature { 
    text-align: center; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.f-title { 
    font-size: 1.2rem;
    font-weight: 700; 
}
.f-sub { 
    font-size: 0.8rem; 
    color: #86efac; 
}

.f-text{
    font-size: 0.8rem;
    color: white;
}

.primary.wide { 
    margin-top: 12px; 
    width: 100%;
}

.projection{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 15px;
}

.projection .p-title { 
    font-weight: 700; 
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.projection .p-sub { 
    color: #9ca3af; 
    font-size: 1rem;
}

.projection .p-subtext{
    font-size: 0.8rem;
    color: rgb(177, 177, 177);
}

.projection-btn{
    background: #10B981;
    color: #0d0d0c;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-saldo-atual, .p-saldo-projetado{
    font-size: 0.8rem;
    color: rgb(177, 177, 177);
}

.p-saldo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 2rem;
}

.daily-balance-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.profit-loss-details {
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

@media (max-width: 1000px) { 
    .dash-content {
        max-width: 100vw; 
        margin-left: 0;
        padding: 16px; 
    }

    .desktop-value-span{
        display: none;
    }

    .mobile-value-span{
        display: inline;
        font-size: 0.8rem;
        background-color: #10b98149;
        padding: 2px 15px;
        border-radius: 15px;
        width: 100%;
    }
    
    body {
        overflow-x: hidden;
    }
    
    .balance-card .row{
        flex-wrap: wrap;
        width: 100%;
    }

    .value{
        text-align: left;
    }

    .label{
        text-align: left;
    }

    .metric .value{
        text-align: left;
        width: 1000%;
    }
    
    .metric {
        flex-basis: 45%; 
        text-align: left;
    }

    .spacer {
        display: none; 
    }
    .cta {
        order: 3; 
        width: 100%; 
        margin-top: 12px;
    }
    .hint {
        text-align: center;
    }

    .features { 
        grid-template-columns: 1fr; 
    } 

    .ai-feature-card .f-btn {
        width: 100%;
    }

    .level-card{
        display: none;
    }

    .balance-card{
        padding: 20px;
        display: flex;
    }

    .title{
        font-size: 1.2rem;
    }

    .medal-icon{
        display: none;
    }

    .box-feature{
        flex-direction: column;
        gap: 10px;
    }   

    .hint{
        display: none;
    }
}